{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><img src="{{ url_for('static', filename='wx.jpg') }}" width="70">Category: {{ category.name }}</h1>
        <p class="text-muted">{{ category.posts|length }} posts</p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {% if posts %}
                {% for post in posts %}
                    {% if post.category.name == category.name %}  <!-- 此处需要特别注意 -->
                        <h1><img src="{{ url_for('static', filename='ls.png') }}" width="40">{{ post.title }}
                            <span class="float-right">
                            </span>
                        </h1>
                        <div class="col-sm-8">
                            {{ post.body|safe }}
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {# <div class="page-footer">{{ render_pagination(pagination) }}</div> #}
        </div>
        <div class="col-sm-4 sidebar">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}